body{
    color: #eeeeee;
    background: #2b2b2b;
    padding: 0 0 1em 0;
}
a{
    color: #b8b8ff;
}
a:hover{
    color: white;
}
summary {
    cursor: pointer;
}
article{
    width: 80%;
    min-width: 75em;
    max-width: 85em;
    margin: auto;
}
h1, h2 {
    background: #222;
    border: 1px solid #222;
    padding: .5em;
    margin-left: -.5em;
}
h2:target {
    border-color: currentColor;
}
p{
    font-size: 1.1em;
}
.notes{
    margin-top: .25em;
    font-size: .75em;
}
input, button {
    background: rgba(0,0,0,1);
    border: 1px solid #97f497;
    color: #ffffff;
    padding: .25em .5em;
    margin: 0 0 .25em 0;
}
input:hover, button:hover, input:focus, button:focus {
    border-color: currentColor;
}
[contenteditable=""]{
    display: block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: .75em;
    line-height: 1.5em;
    font-weight: bold;
    white-space: break-spaces;
    padding: 1rem;
    margin-top: -.25rem;
    border: .25rem dotted #97f497;
    background: #222;
}
[contenteditable=""]:before{
    content: "JavaScript (editable):";
    padding-bottom: 1em;
    color: #97f497;
    font-weight: bold;
    display: block;
    font-size: .8rem;
}
style[contenteditable=""]:before{
    content: "CSS (editable)";
}
@media screen and (max-width: 640px){
    article{
        width: 90%;
        min-width: initial;
    }
    [contenteditable=""] {
        white-space: pre;
        overflow: scroll;
        border-right-style: outset;
    }
}
.output{
    padding: 1rem;
    margin: 0;
    border: .25rem dotted #f0e09a;
}
.output:before{
    content: "Output:";
    color: #f0e09a;
    font-weight: bold;
    display: block;
    padding-bottom: 1.5rem;
}
.example_red_color{ color: #ff9b9b; }
.example_blue_color{ color: #36c7ff; }